<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body class="center">
    <table class="center" style="border:1px solid black;margin-left:auto;margin-right:auto;">
        <tr>
            <td>
                azure
                <li><a href='{{ auth_url }}'>Sign In</a></li>                       
                {% if config.get("B2C_RESET_PASSWORD_AUTHORITY") %}
                <li><a href='{{_build_auth_code_flow(authority=config["B2C_RESET_PASSWORD_AUTHORITY"])["auth_uri"]}}'>Reset Password</a></li>
                {% endif %}            
                <footer style="text-align: right">Powered by MSAL Python {{ version }}</footer>
            </td>
        </tr>
    </table>
</body>
</html>